@keyframes startSwing {
  from { transform: translateY(-25%) }
  to { transform: translateY(25%) }
}

@keyframes startBlinking {
  50% { opacity: 0 }
}

.game-over {
  align-items: center;
  color: red;
  display: flex;
  height: 100%;
  justify-content: center;
}

.game-over-title {
  font-size: 12rem;
  line-height: 14rem;
  max-width: 50%;
  text-align: center;
}

.game-over-start {
  animation: startSwing .3s ease-in-out alternate both infinite;
  bottom: 4rem;
  cursor: pointer;
  font-size: 1.5rem;
  opacity: .8;
  position: absolute;
  transition: opacity .3s ease-in-out;
}

.game-over-start:hover {
  opacity: 1;
}

.game-over-start.blinking {
  animation: startBlinking .3s ease-in-out alternate both infinite;
}
